header {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    background-color: lightgray;
}
.btn-group-left,.btn-group-right {
    display: flex;
    column-gap: 16px;
    align-items: center;
}
header > * > *:hover {
    opacity: 77%;
}